.wrapProducts{width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap}
.productItem{ width: 30%; padding: 10px; background: #fff; text-align: center;margin-bottom: 10px}
.productImg{ max-height: 80px}