button.close{display: none}
button.open2{display: inline-block; position: absolute; right: 30px; top: 10px;
padding: 10px 15px; border-radius: 50%; background: transparent;
    border: 1px solid #fff; color: white; outline: none; font-weight: bold}